.container{
    width: 20%;
    background-color: #0b0d0f;
    padding: 2rem;
}

.heading {
    color: #E2E2E2;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.5px;
    margin-bottom: 20px;
}

.friendsContainer{
    height: calc(100vh - 204.4px);
    overflow-y: scroll;
}

.addFriendContainer{
    display: flex;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #1A71FF;
    cursor: pointer;
}

.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: #E2E2E2;
}

.iconContainer{
    width: 2rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .heading {
        font-size: 25px;
    }
    .text {
        font-size: 13px;
    }
    .friendsContainer {
        height: calc(100vh - 188.4px);
    }
}

@media screen and (max-width: 1024px) {
    .container{
        box-sizing: border-box;
        position: absolute;
        height: calc(100vh - 58px);
        width: 268px;
        right: 0;
    }
    .friendsContainer {
        height: calc(100vh - 169.4px);
    }
}