.container{
    height: 54px;
    background-color: #161929;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.profilePic{
    width: 35px;
    height: 35px;
}

.flex{
    display: flex;
    gap: 20px;
    align-items: center;
}

.userFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.username{
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #1A71FF;
    color: #1A71FF;
    padding: 10px;
    cursor: pointer;
    font-weight: 500px;
    letter-spacing: -0.5px;
    font-size: 14px;
}

.button2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #1A71FF;
    color: #E2E2E2;
    padding: 10px;
    cursor: pointer;
    font-weight: 500px;
    letter-spacing: -0.5px;
    font-size: 14px;
}

@media screen and (max-width: 1024px) {
    .container {
        height: 38px;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .profilePic {
        width: 30px;
        height: 30px;
    }

    .username {
        font-size: 12px;
    }

    .button1 {
        font-size: 12px;
        padding: 8px;
        border: 1px solid #1A71FF;
    }

    .button2 {
        font-size: 12px;
        padding: 8px;
    }
}